APP_NAME=SK Mobility
APP_URL=http://localhost
APP_BASE=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sk_mobility
DB_USER=root
DB_PASS=

SESSION_NAME=sk_mobility_session

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
